.suggest-item {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  display: -webkit-flex;
  padding: 10px 20px;
}

.include-suggest,
.include-group {
  margin-right: 10px;
}

.name {
  flex: 1;
}

.job {
  margin-left: 10px;
  font-size: 14px;
}

.hide {
  display: none;
}

.contact-group {
  display: block;
}

.card {
  margin: 10px 0;
}

.history-created {
  color: #999;
  display: block;
  font-size: 12px;
}
